
body {
	font-family: Helvetica, Arial, sans-serif;
}


h1
{
	font-size: 34px;
	line-height: 45px;
	letter-spacing: -1px;
}

h2
{
	font-size: 24px;
	line-height: 35px;
	font-weight: bold;
}

p
{
	line-height: 24px;
	margin-bottom: 2px;
}


p:first-letter
{
	font-weight: bold;
	font-size: 24px;
	color: #000;
}

.hidden {
	display: none;
}

.box {
	background-color: #000;
	color: white;
	text-align: center;
	margin: 20px;
}

.container {
	margin: 0 auto;
	width: 980px;
	background-color: white;
}

.mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logoHeader {
	width: 220px;
	height: 100px;
	margin: 10px 0px 20px 20px;
}

#mainNav
{
	margin: 0;
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 60px;
	margin-top: 50px;
	margin-left: auto;
	background: white;
}

#mainNav ul
{
	list-style-type: none;
	/*padding-top: 22px;*/
}

#mainNav ul li
{
	float: left;
}

#mainNav ul li a
{
	display: block;
	color: #808080;
	font-size: 16px;
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 10px;
	cursor: pointer;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#mainNav ul li a:hover
{
	background-color: #c0c0c0;
	border-radius: 10px;
	color: #333;
}

.hero {
	background-color: #000;
	color: white;
	padding: 20px;
	text-align: center;
	height: 384px;
}

/*-- Index page --*/

.resources {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}

.about, .products, .events, .contacts {
	background-color: #000;
	color: white;
	text-align: center;
	width: 220px;
	height: 300px; 
}
/*-- Close Index --*/

/*-- Open Contact --*/

#mainContact {
	width: 940px;
	padding: 20px 20px 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#contactArea {
	width: 469px;
	border-right: solid 1px #ccc;
	margin-bottom: 30px;
}

#contactText {
	font-size: 21px;
	margin-bottom: 30px;
	width: 340px;
	height: 75px;
	background-color: #000;
}

#contactForm {
	margin-top: 30px;
}

#mapArea {
	width: 380px;
	height: 300px;
	background-color: #000;
	margin-left: 90px;
}


/*-- Close Contact --*/

/*-- Open About page --*/
.interview {
	width: 940px;
	margin: 20px;
}

.interview img {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;

}



/*-- Close About page --*/

/*-- Open Footer --*/

.mainFooter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 20px;
	padding: 0 20px;
	background-color: #ccc;
}

.logoFooter, .socialMedia {
	background-color: #000;
	color: white;
	text-align: center;
}

.logoFooter {
	height: 50px;
	width: 200px;
	margin: 20px;
}

.socialMedia {
	height: 50px;
	width: 200px;
	margin-top: 20px;
	margin-left: auto;
}

.logoNav {
	width: 940px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerNavBox {
	width: 940px;
}

#footerNav
{
	margin: 0;
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 30px;
	margin: 20px;
}

#footerNav ul
{
	list-style-type: none;
	/*padding-top: 22px;*/
}

#footerNav ul li
{
	float: left;
}

#footerNav ul li a
{
	display: block;
	color: #808080;
	font-size: 12px;
	text-decoration: none;
	margin-left: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 10px;
	cursor: pointer;
}

#footerNav ul li a:hover
{
	border-radius: 10px;
	color: white;
}

/*-- Close Footer --*/